/*初始*/
.sides{
    width: 50px;
    height: 50px;
    margin: 5px;

    background-color: #000000;
    border-radius: 50%;
    box-shadow: 0px 0px 15px -5px #0B0B0F;

    transition: all 0.2s;
}
/*浮过*/
.sides:hover{
    width: 55px;
    height: 55px;
    /*必须重置边距，不然超出控制框大小，会出bug*/
    margin: 0px;

    box-shadow: 0px 0px 10px 0px #0B0B0F;
    transition: all 0.3s cubic-bezier(.34,2,.6,1);
}
/*点击*/
.sides:active{
    width: 45px;
    height: 45px;
    background-color: #000000;

    box-shadow: 0px 0px 15px -5px #0B0B0F;
    transition: all 0.3s cubic-bezier(.34,2,.6,1);
}